<h1 class="text-center">Ask a question</h1>


<form action="/answer" class="text-center">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="your question here">
  <input type="submit" value="Go on!">
</form>
